

	
<div class="thumb">


<%= form_for([@playdate, guest]) do |f| %>


 <h5><%= playdate_guest.dog.id %></h5>

    <%= f.label "Which Dog" %><br />
 	<%= f.text_field :dog_id  %>

    <%= f.submit %>
  
<% end %>
</div>

