<h1>Listing playdate_guests</h1>

<table>
  <tr>
    <th>Playdate</th>
    <th>Dog</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @playdate_guests.each do |playdate_guest| %>
  <tr>
    <td><%= playdate_guest.playdate_id %></td>
    <td><%= playdate_guest.dog_id %></td>
    <td><%= link_to 'Show', playdate_guest %></td>
    <td><%= link_to 'Edit', edit_playdate_guest_path(playdate_guest) %></td>
    <td><%= link_to 'Destroy', playdate_guest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Playdate guest', new_playdate_guest_path %>
