<p id="notice"><%= notice %></p>





<h2>
  <b>Play date:</b>
  <%= l @playdate_guest.playdate.play_date, :format => :short %>
</h2>

<h3>
  
  <%= @playdate_guest.dog.name %>
</h3>

<p>
  <b>Park:</b>
  <%= @playdate_guest.playdate.park.name %>
</p>

<p>
  <b>Organizer:</b>
  <%= @playdate_guest.playdate.user.name %>
</p>

<p>
	<b>Owner</b>
	<%= @playdate_guest.user.name %>
</p>
<p>
  <b>RSVP:</b>
  <%= @playdate_guest.rsvp %>
</p>

<%= link_to "Back to Playdate", @playdate %>


