<%= form_for(@park) do |f| %>
  <% if @park.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@park.errors.count, "error") %> prohibited this park from being saved:</h2>

      <ul>
      <% @park.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :borough %><br />
	<%= f.select(:borough, options_for_select([['Manhattan'], ['Brooklyn'], ['Queens'], ['Bronx'], ['Staten Island']])) %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
