

<div class="page-header">
<% if current_user %>

<h1>Find dog parks that <%= current_user.dogs.first.name %> love's</h1>
<% else %>
<h1>Dog parks</h1>

<% end %>
</div>


<form class="filter_form">
	
		<select name="borough">
			<option value="%">All Boroughs</option>
			<option value="Manhattan" <% if @borough == "Manhattan"%>selected<% end %>>Manhattan</option>
			<option value="Brooklyn" <% if @borough == "Brooklyn"%>selected<% end %>>Brooklyn</option>
			<option value="Queens" <% if @borough == "Queens"%>selected<% end %>>Queens</option>
			<option value="Staten Island" <% if @borough == "Staten Island"%>selected<% end %>>Staten Island</option>
			<option value="Bronx" <% if @borough == "Bronx"%>selected<% end %>>Bronx</option>
			
			
		</select>
		
		<select name="park_type">
			<option value="%">All Types</option>
			<option value="Off-Leash" <% if @borough == "Off-Leash"%>selected<% end %>>Off-Leash</option>
			<option value="Run" <% if @borough == "Run"%>selected<% end %>>Run</option>

			
		</select>

    <input type="submit" value="Filter" />
  </form>



<div class="well">


<table class="table-striped table table-condensed">
<thead>  
<tr>
    <th>Name</th>
    <th>Borough</th>
	<th>Type</th>
    <th></th>
    
  </tr>
</thead>
<tbody>
<% @parks.each do |park| %>
  <tr>
    <td><h4><%= link_to park.name, park %></h4></td>
    <td><%= park.borough %></td>
	<td><%= park.park_type %></td>
    <td><% if park.park_loves.count > 0 %>
	 		<%= pluralize(park.park_loves.count, 'dog') %> love this park
	
		<% else %>
			<div class="help-block">be the first to love this park</div>
		<% end %>
		</td>

	<td>
		<%= form_for(park.park_loves.build, :html=>{:style=>"margin:0px;"}) do |f| %>

			<%= f.hidden_field :park_id  %>

			<%= f.submit "LOVE", :class=>"btn btn-info small" %>
		<% end %>
		
		
	</td>
  </tr>
<% end %>
</tbody>
</table>



</div>




