<h1>Listing parks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Borough</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parks.each do |park| %>
  <tr>
    <td><%= park.name %></td>
    <td><%= park.borough %></td>
    <td><%= link_to 'Show', park %></td>
    <td><%= link_to 'Edit', edit_park_path(park) %></td>
    <td><%= link_to 'Destroy', park, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>




<br />

<%= link_to 'New Park', new_park_path %>


<%= select(:selected_park, "id", @parks.map {|u| [u.name,u.id]}) %>

