
<div class="page-header">
<% if current_user %>
	<h4>Step 3</h4>
<h1>Find dog parks that <%= current_user.dogs.first.name %> love's</h1>
<% else %>
<h1>Dog parks</h1>

<% end %>
</div>

<div class="row">

<div class="span3">
	
	<ul class="nav list">
		<li class="nav-header">Borough</li>
	  	<li ><a href="#">Manhattan</a></li>
		<li><a href="#">Brooklyn</a></li>
	  	<li class="active"><a href="#">Queens</a></li>
		<li><a href="#">Bronx</a></li>
		<li><a href="#">Staten Island</a></li>
		
		<li class="nav-header">Type</li>
	  	<li class="active"><a href="#">Run</a></li>
		<li><a href="#">Off-Leash</a></li>
	  	
	</ul>

</div>

<div class="span9">
<table class="table-striped table table-condensed">
<thead>  
<tr>
    <th>Name</th>
    <th>Borough</th>
	<th>Type</th>
    <th>Address</th>
    
  </tr>
</thead>
<tbody>
<% @parks.each do |park| %>
  <tr>
    <td><%= link_to park.name, park %></td>
    <td><%= park.borough %></td>
	<td><%= park.park_type %></td>
    <td><%= park.address %></td>
  </tr>
<% end %>
</tbody>
</table>


</div>
</div>




