

<% if notice %>
<div class="alert-message info">
<p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="page-header">
<h1><%= @park.name %></h1>
</div>

<div class="row">
<div class="span8">


<ul class="unstyled">
 <li> <b>Borough:</b>
  <%= @park.borough %>
</li

<li>
  <b>Type:</b>
  <%= @park.park_type %>
</li>

<li>
  <b>address:</b>
  <%= @park.address %>
</li>
</ul>



<iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=<%= @park.name %>,<%= @park.borough %>&amp;aq=&amp;vpsrc=0&amp;t=m&amp;ie=UTF8&amp;hq=<%= @park.name %>,<%= @park.borough %>&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
<br/><br/>
<p>
  <%= @park.description %>
</p>
<hr/>

<% if @dogs.count > 0 %>

<h3><%= @dogs.count %> dogs love this park</h3>
<ul class='thumbnails'>
<%= render @dogs %>
</ul>

<% else %>

<h3>No dogs love this park, yet</h3>

<div class="help-block">No other dogs love this park right now.  Help spread the word about Matchpuppy, <A href="#">share it on facebook and twitter</a></div>

<% end %>

<hr class="clearfix" style="clear:left;"/>



</div>

<div class="span4">
<% if current_user %>
<% if @loved.count == 0 %>
		
	<%= form_for(@park_love) do |f| %>

		<%= f.hidden_field :park_id  %>

		<%= f.submit "I love this park", :class=>"btn info" %>
		<span class="help-block">You can schedule playdates at parks that you love</span>
	<% end %>
	
	
<% else %>

	<% if @park.playdates.count > 0 %>
		<h3>Join a playdate here:</h3>

		<%= render @park.playdates %>
		<p>
			- or -
		</p>
	<% end %>
	
	<%= link_to "Schedule a new playdate", "/playdates/new", :class => "btn btn-primary"%>
	
<% end %>
<% end %>

<br/><br/>
<div class="fb-like" data-layout="button_count" data-send="true" data-width="100" data-show-faces="false"></div>
<br/>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="matchpuppy" data-size="small">Tweet</a>

<br/><br/>
<h3>Other dog parks in <%= @park.borough %></h3>

<% @other_parks.each do |park| %>
	<%= link_to park.name, park %><br/>
<% end %><br/>
<p>
<%= link_to "« view all parks", parks_path(), :class=>"btn small" %>
</p><br/>

</div>
</div>

