<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @park.name %>
</p>

<p>
  <b>Borough:</b>
  <%= @park.borough %>
</p>

<p>this is an api test 
<%= @citypark %>
</p>

<hr/>
<h3>Dogs who love this park</h3>

	<% @dogs.each do |dog| %>
<div style="float:left; margin-right:10px">
	  
	  <%= link_to ((image_tag dog.avatar.url(:thumb)), user_dog_path(dog.user, dog)) %>

    <h3><%= dog.name %></h3>
   
  </div>

<% end %>

<hr class="clearfix" style="clear:left;"/>

<h3>Playdates scheduled at this park</h3>

	<% @park.playdates.each do |playdate| %>
<div style="float:left; margin-right:10px">
	  
	  

    <h3><%= link_to ((l playdate.play_date, :format => :short), playdate)  %></h3>


   
  </div>

<% end %>
<hr style="clear:left;" />
<%= link_to "Schedule a playdate here", "#", :class => "btn primary large"%>


