<li class="span2" style="margin-left:10px;">
<div class="thumbnail">





<a href="<%= user_dog_path(dog.user, dog) %>" rel="popover" data-placement="right" data-delayHide="5000" data-original-title="<%= dog.name %>" data-content="
	<ul class='unstyled''>
    <li><b>Size:</b> <%= dog.size %></li>
	<li><b>Breed:</b> <%= dog.breed %></li>
	<li><b>Gender:</b> <%= dog.gender %></li>
	<li><b>Age:</b> <%= dog.age %></li>
	<li><b>Energy:</b> <%= dog.energy %></li>
	<li><b>Owner:</b> <%= dog.user.name %></li>
	
	
	<li>&ldquo;<%= dog.favorite %>&rdquo;</li>
  </ul>
	" data-html="true">
	
	<% if dog.avatar_file_name == nil && dog.gender == "Female" %>
		<%= image_tag "/assets/default_dog_medium_female.png" %>
	<% else %>
		<%= image_tag dog.avatar.url(:medium) %>
	<% end %>	
	
	<h3><%= dog.name %></h3>
		
</a>


</div>
</li>