<%= form_for([@user, @dog], :html => { :class=>"form-horizontal"}) do |f| %>

<% if @dog.errors.any? %>
   <div class="alert alert-error">
     <strong>Whoops!</strong>

     <ul class="unstyled">
     <% @dog.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

<div class="well">
<div class="control-group">
	<%= f.label "Your dog's name" %>
	<div class="controls">

	<%= f.text_field(:name) %>
	</div>
</div>

<div class="control-group">
	<label>How big?</label>
	<div class="controls <% if @dog.errors[:size] != nil %>error<% end %>">
		<div class="row" style="height:260px;" >
			<div class="span2" style >
				<label for="smalldog">
					<img src="/images/small.png" style="margin-top:120px;"><br/>
					<%= f.radio_button( :size, "small", :id => "smalldog") %> Small (0-20lbs)
				</label>

			</div>
			<div class="span3" >
				<label for="mediumdog">
					<img src="/images/medium.png" style="margin-top:70px;"><br/>
					<%= f.radio_button( :size, "medium", :id => "mediumdog") %> Medium (21-50lbs)
				</label>

			</div>
			<div class="span3" >
				<label for="largedog">
					<img src="/images/large.png"><br/>
					<%= f.radio_button( :size, "large", :id=>"largedog") %> Large (51lbs+)
				</label>

			</div>	
		</div>
	</div>
</div>

<div class="control-group ">
	<%= f.label "What breed?" %>
	<div class="controls">
		<%= f.select(:breed, options_for_select([
			['Beagle', 'Beagle'],
			['Boxer', 'Boxer'],
			['Bulldog'],
			['Chihuahua'],
			['Cocker Spaniel'],
			['Collie'],
			['Dachshund'],
			['German Shepherd'],
			['Golden Retriever'],
			['Great Dane'],
			['Labrador Retriever'],
			['Maltese'],
			['Miniature Schnauzer'],
			['Pinscher'],
			['Pitt Bull'],
			['Pomeranian'],
			['Poodle'],
			['Pug'],
			['Rottweiler'],
			['Saint Bernard'],
			['Siberian Husky'],
			['Shiba Inu'],
			['Shih Tzu'],
			['Yorkshire Terrier'],
			['Mixed'],
			['Other']
			], @dog.breed)) %>
	</div>
</div>

<div class="control-group">
	<%= f.label :gender %>
	<div class="controls">
		<div class = "row">
			<div class = "span2">
				<label for = "male">
					<%= image_tag 'male-paw.png' %> 
					<%= f.radio_button( :gender, "Male", :id => "male") %>
					Male
				</label>
			</div>
			<div class = "span2">
				<label for = "female">
					<%= image_tag 'female-paw.png' %> 
					<%= f.radio_button( :gender, "Female", :id => "female") %>
					Female
				</label>
			</div>
		</div>
	</div>
</div>


<div class="control-group">
<%= f.label :energy, "Energy Level?"%>
	<div class="controls">
		<div class = "row">
			<div class = "span2">
				<label for = "Low">
					<%= f.radio_button( :energy, "Couch potato", :id => "Low") %>
					Couch potato
				</label>
			</div>
			<div class = "span2">
				<label for = "Medium">
					<%= f.radio_button( :energy, "Happy-go-lucky", :id => "Medium") %>
					Happy-go-lucky
				</label>
			</div>
			<div class = "span2">
				<label for = "High">
					<%= f.radio_button( :energy, "Life of the party", :id => "High") %>
					Life of the party
				</label>
			</div>
		</div>
	</div>
</div>


<!-- <div class="control-group">
<%= f.label "Modivation Type?"%>
<div class="controls">
	<div class = "row">
		<div class = "span3">
			<label for = "Low">

				<%= f.radio_button( :energy, "Internally", :id => "male") %>
				Internally motivated <a href="#"  rel="popover" data-content="Socially Modivated Dogs blah blah blah" data-original-title="Internally motivated">?</a>
			</label>
		</div>
		<div class = "span3">
			<label for = "Medium">

				<%= f.radio_button( :energy, "Externally", :id => "female") %>
				Externally motivated <a href="#"  rel="popover" data-content="Socially Modivated Dogs blah blah blah" data-original-title="Externally motivated">?</a>
			</label>
		</div>
		<div class = "span3">
			<label for = "High">

				<%= f.radio_button( :energy, "Socially", :id => "female") %>
				Socially motivated <a href="#"  rel="popover" data-content="Socially Modivated Dogs blah blah blah" data-original-title="Socially motivated">?</a>
			</label>
		</div>
	</div>
</div> -->



<div class="control-group">
	<%= f.label :Photo %>
	<div class="controls">
	<%= f.file_field :avatar %>
	</div>
</div>
<div class="control-group">
	<%= f.label "What do you love most about your dog?" %>
	<div class="controls">
		<%= f.text_area :favorite, :style=>"height:50px" %>
	</div>
</div>
</div>
<div class="form-actions">
	<%= f.submit nil, :class=>"btn btn-primary" %>
</div>
<% end %>
