<%= form_for([@user, @dog]) do |f| %>


<%= f.label "What's your dog's Name" %>
<%= f.text_field(:name) %>

	<label>How big?</label>

	<div class="row" style="height:270px;" >
		<div class="span3" >
			<label for="smalldog">
			<img src="/images/small.png" style="margin-top:80px;;"><br/>
			Small (0-20lbs)
			</label>
			<%= f.radio_button( :size, "small", :id => "smalldog") %>
		</div>
	<div class="span3" >
		<label for="mediumdog">
		<img src="/images/medium.png" style="margin-top:25px;"><br/>
		Medium (21-50lbs)
		</label>
		<%= f.radio_button( :size, "medium", :id => "mediumdog") %>
	</div>
	<div class="span3" >
		<label for="largedog">
			<img src="/images/large.png"><br/>
			Large (51lbs+)
		</label>
		<%= f.radio_button( :size, "large", :id=>"largedog") %>
	</div>	
 </div>

<%= f.label "What breed?" %>
<%= f.select(:breed, options_for_select([['Beagle'], ['Boxer'], ['Boxer'], ['Bulldog'], ['Chihuahua'], ['German Shepherd'], ['Golden Retriever']])) %>

<%= f.label :gender %>
<%= f.select(:gender, options_for_select([['Male'], ['Female']])) %>

<%= f.label :Photo %>
<%= f.file_field :avatar %>
  	
  <div class="form-actions">
    <%= f.submit nil, :class=>"btn primary" %>
  </div>
<% end %>
