
<% if notice %>
<div class="alert-message info">
<p id="notice"><%= notice %></p>
</div>
<% end %>


<h1><%= @dog.name %></h1>

<div class="row">
	
	<div class="span6">

<%= image_tag @dog.avatar.url(:medium), :options =>  
{:align=>"right", :style=>"padding-right: 10px; padding-top: 5px;"} %>
</div>

<div class="span5">

<ul>
  <li><b>Size:</b> <%= @dog.size %></li>

  <li><b>Breed:</b><%= @dog.breed %></li>

  <li><b>Gender:</b><%= @dog.gender %></li>
</ul>
</div>
<div class="span5">
	<p>Favorite Park: <%= link_to @dog.user.park.name, @dog.user.park %></p>
	<p>Owner: <%= link_to @dog.user.name, @dog.user %>
</div>
</div>






<div class="actions">
	<%= link_to 'Edit ' + @dog.name, edit_user_dog_path(@user,@dog), :class=>"btn" %>
	
<%= link_to 'Schedule a playdate for ' + @dog.name , new_playdate_path(), :class=>"btn primary" %>
</div>
