
<% if notice %>
<div class="alert-message info">
<p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="page-header">
<h1><%= @dog.name %></h1>
</div>

<div class="row">
	
	<div class="span3">
<a href="#" class="thumbnail">
<%= image_tag @dog.avatar.url(:medium), :options =>  
{:align=>"right", :style=>"padding-right: 10px; padding-top: 5px;"} %>
</a>
</div>

<div class="span4">

<ul class="unstyled">
  <li><b>Size:</b> <%= @dog.size %></li>

  <li><b>Breed:</b> <%= @dog.breed %></li>

  <li><b>Gender:</b> <%= @dog.gender %></li>
</ul>

<h3>Dog Parks Loved</h3>

<%= render @user.park_loves %>
</div>
<div class="span5">
	
	<p>Owner: <%= link_to @dog.user.name, @dog.user %>
</div>
</div>




<% if @dog.user == current_user %>

<div class="form-actions">	
	<a href="<%= edit_user_dog_path(@user,@dog) %>" class="btn">
			<i class="icon pencil"></i> Edit <%= @dog.name %>
		</a>
		
		<a href="<%= user_dog_path(@user,@dog) %>" class="btn danger">
				<i class="icon remove"></i> Delete <%= @dog.name %>
			</a>
	
	
				<a href="<%= user_path(@dog.user) %>" class="btn info">
						<i class="icon user"></i> View Owner: <%= @dog.user.name %>
					</a>
</div>
<% end %>