<%= form_for(@playdate, :html => {:class=> "form-horizontal"}) do |f| %>
  <% if @playdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playdate.errors.count, "error") %> prohibited this playdate from being saved:</h2>

      <ul>
      <% @playdate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="control-group">
	<%= f.label "Which Park?" %>
	<div class="controls">
		<%= f.select(:park_id, @parks.map {|u| [u.name,u.id]}) %>
		<p class="help-block">You can only schedule playdates at parks that you love.  <%= link_to "Find more parks to love >", parks_path %></a></p>
	</div>
</div>

<div class="control-group">
	<%= f.label "What Day?" %>
	<div class="controls">
		<%= f.text_field :play_date, :class=>"span2", :order => [:month,:day, :year], :prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year'}, :use_month_numbers =>true, :default => 1.days.from_now, :html =>{ :class =>"date_select" }, :class=>"date_select" %>
	</div>
</div>
<div class="control-group">

	<%= f.label "What Time?" %>
	<div class="controls">
		<%= f.time_select :play_date, :class=>"span2", :ignore_date => true, :ampm => true,  :minute_step => 30 %>
	</div>
</div>

<div class="control-group">
	<%= f.label "Where in the park?" %>
	<div class="controls">
		<%= f.text_area :description, :style=>"height:50px" %>
	</div>
</div>	






  
  <div class="form-actions">
    <%= f.submit nil, :class=>"btn primary" %>
  </div>
<% end %>
