<%= form_for(@playdate) do |f| %>
  <% if @playdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playdate.errors.count, "error") %> prohibited this playdate from being saved:</h2>

      <ul>
      <% @playdate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <%= f.label "Which Park?" %>
    <%= f.select(:park_id, @parks.map {|u| [u.name,u.id]}) %>
	
    <%= f.label "What Day?" %>
    <%= f.date_select :play_date, :class=>"span2", :order => [:month,:day, :year], :use_month_numbers =>true %>
	
    <%= f.label "What Time?" %>
    <%= f.time_select :play_date, :class=>"span2", :ignore_date => true, :ampm => true, :time_separator => ':', :minute_step => 30 %>



    <%= f.label "Where in the park?" %>
    <%= f.text_area :description, :style=>"height:50px" %>
	






  
  <div class="form-actions">
    <%= f.submit nil, :class=>"btn primary" %>
  </div>
<% end %>
