
<style>
	#playdate_play_date_2i {
		
		width:100px;
	}
	#playdate_play_date_4i {
		width:75px;
	}
  #playdate_play_date_3i,  #playdate_play_date_5i    {width:50px;}
</style>




<%= form_for(@playdate, :html => {:class=> "form-horizontal"}) do |f| %>
  <% if @playdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playdate.errors.count, "error") %> prohibited this playdate from being saved:</h2>

      <ul>
      <% @playdate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="control-group">
	<%= f.label "Which Park?" %>
	<div class="controls">
		<%= f.select(:park_id, @parks.map {|u| [u.name,u.id]}) %>
		<p class="help-block">You can only schedule playdates at parks that you love.  <%= link_to "Find more parks to love >", parks_path %></a></p>
	</div>
</div>

<div class="control-group">
	<%= f.label "When?" %>
	<div class="controls">
		<%= f.datetime_select :play_date, :order => [:month, :day],  :default => 1.days.from_now, :ampm => true,  :minute_step => 15  %>
	</div>
</div>


<!--  <div class="control-group">

	<%= f.label "What Time?" %>
	<div class="controls">
		<%= f.time_select :play_date, :class=>"span2", :ampm => true,  :minute_step => 15 %>
	</div>
</div> -->

<div class="control-group">
	<%= f.label "What's the plan?" %>
	<div class="controls">
		<%= f.text_area :description, :width=>'100%' %>
		<div class="help-block">Eg. Just wanna have fun or let's go running together</div>
	</div>
</div>	






  
  <div class="form-actions">
    <%= f.submit nil, :class=>"btn primary" %>
  </div>
<% end %>
