
<div class="page-header">
<h1>Upcoming playdates</h1>
</div>

<div class="row">
	<div class="span8">
<Div class="well">

<table class="table-striped table table-condensed">
<thead>  
<tr>
    <th>Date</th>
    <th>Park</th>
	<th>Dogs Coming</th>
    <th></th>
    
  </tr>
</thead>
<tbody>
	
	<% @playdates.each do |playdate| %>
		<tr>
	    <td><a href="<%= playdate_path(playdate) %>" ><strong><i class="icon-calendar"></i> <%=l playdate.play_date, :format => :playdatetime  %></strong></a></td>
	    <td><i class="icon-leaf"></i> <%= link_to playdate.park.name, playdate.park %></td>
		<td>(<%= pluralize(playdate.playdate_guests.yes.count, 'dog') %> coming)</td>
	    </tr>
	
	
	<% end %>
	
</tbody>
</table>
<div class="form-actions">

<%= link_to 'Schedule a New Playdate', new_playdate_path, :class => "btn btn-primary" %>
</div>
</div>
</div>
</di>

