<% if notice %>
<div class="alert-message info">
<p id="notice"><%= notice %></p>
</div>
<% end %>

<p>
  <b>Play date:</b>
  <%= l @playdate.play_date, :format => :short %>
</p>

<p>
  <b>Park:</b>
  <%= @playdate.park.name %>
</p>

<p>
  <b>Organizer:</b>
  <%= @playdate.user.name %>
</p>

<p>
  <b>Status:</b>
  <%= @playdate.status %>
</p>


<!-- <%= link_to 'Edit', edit_playdate_path(@playdate) %> |
<%= link_to 'Back', playdates_path %> -->


<hr/>
<h2>Invited Dogs</h2>
<% @playdate.playdate_guests.each do |guest| %>
 <div class="thumb">
	<%= image_tag guest.dog.avatar.url(:thumb) %>
	<h4><%= guest.dog.name %></h4>
	<p><%= guest.user.email %></p>
	
<!-- 	<%= form_for([@playdate, guest]) do |f| %>

	 	<%= f.hidden_field :dog_id  %>

	    <%= f.submit "Invite this dog", :class=>"btn" %>

	<% end %> -->
 </div>
  
<% end %>
<% if !@playdate.status %>
<hr/>
<h2>Other Dogs who love this park</h2>
<% @guests.each do |guest| %>
 <div class="thumb">
	<%= image_tag guest.dog.avatar.url(:medium) %>
	<h4><%= guest.dog.name %></h4>
	
	<%= form_for([@playdate, guest]) do |f| %>

	 	<%= f.hidden_field :dog_id  %>

	    <%= f.submit "Invite this dog", :class=>"btn" %>

	<% end %>
 </div>
  
<% end %>



<hr/>


<%= form_for(@playdate) do |f| %>

 	<%= f.hidden_field :status, :value=>"sent"  %>

    <%= f.submit "Finalize Playdate and Invite Guests", :class=>"btn primary" %>

<% end %>
<% end %>
