<% content_for :head do %>
  	<meta property="og:image" content="http://www.matchpuppy.com/assets/logo_beta.png"/>
	<meta property="og:url" content="<%= playdate_url(@playdate) %>"/>
	<link rel="canonical" href="<%=  playdate_url(@playdate) %>" />
<% end %>


<% if notice %>
<div class="alert alert-success">
<%= notice %>
</div>
<% end %>

<div class="page-header">
	<div class="row">
		<div class="span8">
			<h1>
				<% if @playdate.user == current_user %>Your <% end %>playdate for <%= l @playdate.play_date, :format => :playdate %>
			</h1>
		</div>

	</div>
</div>

<div class="row">

	<div class="span2" style=" ">
		<h3>Instigator</h3>

		<a href="<%= user_dog_path(@playdate.user, @playdate.user.dogs.last) %>"><%= image_tag @playdate.user.dogs.first.avatar.url(:medium) %></a>
		<h4><%= link_to @playdate.user.dogs.first.name, user_dog_path(@playdate.user, @playdate.user.dogs.last) %> </h4>
		<ul class="unstyled">
			<li>Breed: <%= @playdate.user.dogs.first.breed %> </li>
			<li>Gender: <%= @playdate.user.dogs.first.gender%> </li>
			<li>Owner: <%= link_to @playdate.user.name, @playdate.user %> </li>

		</ul>
		<% if @playdate.user == current_user %>
		<!-- <%= link_to "Edit Playdate", edit_playdate_path(@playdate)%> -->
	
		<% end %>
	</ul>


</div>



<div class="span7">
	<!-- if havent finalized playdate yet -->
	<% if !@playdate.status && @playdate.user == current_user %>
	<div class="well">
		<h3>Invite dogs who love this park</h3>
		<p>Select the dogs you want to invite from the list below.  When your finished click to finalize playdate to email and invite guests.</p>

		<% if @guests.count > 0 %>
			<ul class="thumbnails">
				<% @guests.each do |playdate_guest| %>
					<li id="invitee<%= playdate_guest.dog.id %>" >
						<div class="thumbnail">
							<a href="#" rel="popover" data-placement="right" data-delayHide="5000" data-original-title="<%= playdate_guest.dog.name %>" data-content="
								<ul class='unstyled''>
							    <li><b>Size:</b> <%= playdate_guest.dog.size %></li>
								<li><b>Breed:</b> <%= playdate_guest.dog.breed %></li>
								<li><b>Gender:</b> <%= playdate_guest.dog.gender %></li>
								<li><b>Age:</b> <%= playdate_guest.dog.age %></li>
								
								<li><b>Energy:</b> <%= playdate_guest.dog.energy %></li>
								
								<li>&ldquo;<%= playdate_guest.dog.favorite %>&rdquo;</li>
							  </ul>
								" data-html="true">
							
							
							 <% if playdate_guest.dog.avatar_file_name == nil && playdate_guest.dog.gender == "Female" %>
								<%= image_tag "/assets/default_dog_thumb_female.png" %>
							<% else %>
								<%= image_tag playdate_guest.dog.avatar.url(:large) %>
							<% end %>
							</a>


							<%= form_for([@playdate,playdate_guest], :remote => true, :html=>{:class=>"invite"}) do |f| %>
								<%= f.hidden_field :dog_id  %>
								<%= f.submit "Invite "+playdate_guest.dog.name, :class=>"btn btn-info" %>
							<% end %>
						</div>
					</li>
				<% end %>
			</ul>
			
			
		
		<% else %>
			<div class="help-block">
					<p>No other dogs love this park right now, but you can schedule the playdate and others can sign up and join later.</p>
				<p>  Help spread the word about matchpuppy, share it on facebook and twitter</p>
			</div>
		<% end %>
		
		
</div>
		<div class="form-actions">

			<%= form_for(@playdate) do |f| %>
			<%= f.hidden_field :status  %>
			<%= f.submit "Finalize Playdate and Invite Guests", :class=>"btn btn-primary" %>

			<% end %>

		</div>
	
	<!-- if have finalized playdate  -->	
	<% else %>

		<div class="well">
			<ul class="unstyled">
				<li>
					<i class="icon-calendar"></i> <b>Starts at:</b> <%= l @playdate.play_date, :format => :playdatetime %>	
				</li>
				<li><i class="icon-leaf"></i> <%= link_to @playdate.park.name, @playdate.park %></li>

			</ul>
			<p>
				<%= @playdate.description %>	
			</p>

			<%= render @playdate.park %>
		</div>


		<div class="well">
	
			<h4>Comments</h4>
			<hr/>
				<div >
			<% if @playdate.comments.size > 0 %>
		
				<%= render @playdate.comments %>
		
			<% else %>
				<div class="help-block">No comments yet, use this space to discuss meeting place and plans for the playdate </div>
			<% end %>
				</div>
			<hr/>
			<%= form_for([@playdate, @playdate.comments.build]) do |f| %>
				<%= f.label "Your Comment" %>
				<%= f.text_area :body  %>
		
				<div class="actions">
					<%= f.submit "Comment", :class=>"btn primary" %>
				</div>
			<% end %>
		</div>
	<% end %>

	</div><!-- end middle column -->
	<div class="span3">

		<!-- User Actions -->

		<% if @playdate.user != current_user && @active_guests.length > 0  %>
			<div class="well">
				<h3>Your RSVP?</h3>

				<div class="btn-group">
					<a class="btn btn-info btn-large <% if @active_guests.first.rsvp =="Yes" %>active<% end %>" href="/playdates/<%= @playdate.id %>/rsvp/Yes">Yes</a>
					<a class="btn btn-info btn-large <% if @active_guests.first.rsvp =="Maybe" %>active<% end %>" href="/playdates/<%= @playdate.id %>/rsvp/Maybe">Maybe</a>
					<a class="btn btn-info btn-large <% if @active_guests.first.rsvp =="No" %>active<% end %>" href="/playdates/<%= @playdate.id %>/rsvp/No">No</a>
				</div>
			</div>
		<% elsif @playdate.user != current_user %>
			<div class="well">
				<a href="/playdates/<%= @playdate.id %>/join" class="btn primary large">Join this playdate</a>
				<br/>
			</div>
		<% end %>


		<% if @playdate.status %>
		<div class="well">
			<h3>RSVPs</h3>
			<ul class="unstyled">
				<li>
					<b><i class="icon-ok"></i> Yes:</b>
					<%= @playdate.playdate_guests.yes.count %>	
				</li>
				<li>
					<b>Maybe:</b>
					<%= @playdate.playdate_guests.maybe.count %>	
				</li>

				<li>
					<b><i class="icon-remove"></i> No:</b>
					<%= @playdate.playdate_guests.no.count %>	
				</li>
			</ul>
		</div>
		


		<div class="well">
			<h3>Share this Playdate</h3>
				<div class = "fb-like" data-layout="button_count" data-send="true" data-width="100" data-show-faces="false"></div>
				<br/>
				<a href    = "https://twitter.com/share" class="twitter-share-button" data-via="matchpuppy" data-size="small">Tweet</a>
</div>

<% end %>

<div class="well">
	<h3>Players</h3>
	<ul id="invited" class="thumbnails">
		<%= render @playdate.playdate_guests %>
	</ul>
</div>

</div>

</div>
