<%= form_for(@love) do |f| %>
  <% if @love.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@love.errors.count, "error") %> prohibited this love from being saved:</h2>

      <ul>
      <% @love.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :park_id %><br />
    <%= f.number_field :park_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
