

<%= form_for(@user, :html => {}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
    <%= f.label "Your Name" %>

   	 <%= f.text_field :name %>

    <%= f.label "Your Email" %>

    	<%= f.text_field :email %>
	<% if f.object.new_record? %>
  <%=  fields_for :dog do |d| %>
 
    <%= d.label("Your dog's name:") %>
    
	
    	<%= d.text_field :name %>

  <% end %> 
 <% end %>
  
      <%= f.label :password, f.object.new_record? ? nil : "Change password" %>
    	  <%= f.password_field :password %>
    
     <%= f.label :password_confirmation %>
    	  <%= f.password_field :password_confirmation %>
    	
  
  
  
  <div class="actions">
	
	<% if f.object.new_record? %>
    <%= f.submit("Sign-up" , :class=>'btn primary') %>
<%= link_to "Have an account? Login", :login %>
	<% else %>
		<%= link_to "Cancel", :account, :class =>"btn" %>
		
    	<%= f.submit("Edit Account" , :class=>'btn primary') %>
	<% end %>

  </div>
<% end %>
