

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 	<div class="control-group">
    <%= f.label "Your Name" %>


   	 <%= f.text_field :name %>

	</div>

	<div class="control-group">
    <%= f.label "Your Email" %>

	
    	<%= f.text_field :email %>

</div>
	<% if f.object.new_record? %>
  <%=  fields_for :dog do |d| %>
 	<div class="control-group">

    <%= d.label("Your dog's name:") %>


	
    	<%= d.text_field :name %>
		<div class="help-block">
			You'll be able to add more dogs later!
		</div>
       
</div>
  <% end %> 
 <% end %>
  	 
<% if current_user %>
<% if current_user.user_type == "admin" %>
	<div class="control-group">
<%= f.label :user_type %>
<div class="controls">

		<%= f.select(:user_type, options_for_select([['normal'], ['admin']])) %>
		</div>
		</div>

<% end %>
<% end %>

	<div class="control-group">
	

      <%= f.label :password, f.object.new_record? ? nil : "Change password" %>
	<div class="controls">

    	  <%= f.password_field :password %>

		</div>
		</div>
    	<div class="control-group">
	
     <%= f.label :password_confirmation %>
	<div class="controls">

    	  <%= f.password_field :password_confirmation %>
    	</div>
		</div>
  
  			<label class="checkbox" style="font-weight:normal">
			          <%= f.check_box(:subscribe) %> Keep me up to date on the latest MatchPuppy.com News
			        </label>
  
  <div class="actions">
	
	<% if f.object.new_record? %>
    <%= f.submit("Sign-up" , :class=>'btn btn-primary') %>
<%= link_to "Have an account? Login", :login %>
	<% else %>
		<%= link_to "Cancel", :account, :class =>"btn" %>
		
    	<%= f.submit("Edit Account" , :class=>'btn btn-primary') %>
	<% end %>

  </div>
<% end %>
