<% if notice %>
<div class="alert">
<%= notice %>
</div>
<% end %>

<div class="page-header">
<h1>
  Your Profile
</h1>
</div>
<div class="row">



<div class="span4 ">
<h3>Your Dogs</h3>
<ul class="thumbnails">
<%= render @user.dogs %>
</ul>

<% if @user == current_user %>
<div style="clear:left">




</div>
<% end %>
</div>
<div class="span4">
<h3>Parks you Love</h3>

<%= render @user.park_loves %>

<% if @user.park_loves.count  == 0 %>
<div class="help-block">
	<A href="<%= parks_path %>">Find some dog parks</a> you love 
	</div>
<% end %>

</div>

<div class="span3">
<h3>Upcoming Playdates</h3>

<%= render @playdates %>

<% if @user.playdates.count  == 0 %>
<div class="help-block">
	<A href="<%= parks_path %>">Find some dog parks</a> you love to schedule playdates there
	</div>
<% end %>
</div>
</div>



	<div class="form-actions">

		<%= link_to "Edit Your Account", "/account/edit" %>
	

		<a href="<%= new_user_dog_path(@user) %>" class="btn">
		<i class="icon-plus"></i>	Add another dog
		</a>
		<a href="<%= parks_path %>" class="btn btn-primary">
				<i class="icon-search icon-white"></i> Find a Dog Park
			</a>
			<% if @user.park_loves.count > 0 %>
				<a href="<%= new_playdate_path %>" class="btn btn-success">
						<i class="icon-flag icon-white"></i> Schedule a Playdate
					</a>
			<% end %>
	</div>


