<% if notice %>
<div class="alert-message info">
<p id="notice"><%= notice %></p>
</div>
<% end %>

<h1>
  <%= @user.name %>
</h1>

<p>
Favorite Park: <%= link_to @user.park.name, @user.park %></p>
</p>
<h3>Dogs</h3>
<% @user.dogs.each do |dog| %>
  
<h4><%= link_to dog.name, user_dog_path(@user, dog) %></h4>

  <%= image_tag dog.avatar.url(:medium), :options =>  
{:align=>"right", :style=>"padding-right: 10px; padding-top: 5px;"} %>
  <ul>
    <li><b>Size:</b><%= dog.size %></li>
	<li><b>Breed:</b><%= dog.breed %></li>
	<li><b>Gender:</b><%= dog.gender %></li>
  </ul>
<% end %>
<%= link_to "Add a Dog", new_user_dog_path(@user), :class=>"btn primary" %>
<hr/>


<%= link_to "Edit Profile", 'account/edit', :class=>"btn" %>

<%= link_to "Schedule Playdate", 'playdates/new', :class=>"btn primary" %>




<!-- <%= form_for([@user, @user.dogs.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> -->

