<% if notice %>
<div class="alert">
<%= notice %>
</div>
<% end %>

<div class="page-header">
<h1>
  <%= @user.name %>
</h1>
</div>
<div class="row">

<div class="span2">
	
	<ul class="nav list">
		<li class="nav-header">Profile</li>
	    <li class="active"><a href="#"><i class="icon home"></i> Home</a></li>
	    <li><a href="#"><i class="icon asterisk"></i> Dogs</a></li>
	    <li><a href="#"><i class="icon map-marker"></i> Parks</a></li>
		<li><a href="#"><i class="icon time"></i> Playdates</a></li>
		<li><a href="#"><i class="icon user"></i> Edit Profile</a></li>
	 </ul>
	</div>

<div class="span3 ">
<h3>Dogs</h3>
<ul class="thumbnails">
<%= render @user.dogs %>
</ul>

<% if @user == current_user %>
<div style="clear:left">




</div>
<% end %>
</div>
<div class="span3">
<h3>Parks Loved</h3>

<%= render @user.park_loves %>

<% if @user.park_loves.count  == 0 %>
<div class="help-block">
	<A href="<%= parks_path %>">Find some dog parks</a> you love 
	</div>
<% end %>

</div>

<div class="span3">
<h3>Upcoming Playdates</h3>

<%= render @user.playdates %>

<% if @user.playdates.count  == 0 %>
<div class="help-block">
	<A href="<%= parks_path %>">Find some dog parks</a> you love to schedule playdates there
	</div>
<% end %>
</div>
</div>

<% if @user == current_user %>

	<div class="form-actions">

	

		<a href="<%= new_user_dog_path(@user) %>" class="btn class">
		<i class="icon plus"></i>	Add another dog
		</a>
		<a href="<%= parks_path %>" class="btn primary">
				<i class="icon search"></i> Find a Dog Park
			</a>

	</div>
<% end %>


