<%= form_for(@user_session, :html => {:class => "well"}) do |f| %>

	<% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

    <%= f.label :email %>
	<%= f.text_field :email %>
	
    <%= f.label :password %>
   	<%= f.password_field :password %>
    <label for="remember_me" class="checkbox">
	<%= f.check_box :remember_me %>
	Remember Me
	</label>
	
  	
<div class="actions">
  <%= f.submit "Login", :class=>"btn primary" %>
<%= link_to "New to MatchPuppy? - Register", root_path %><br/>
<%= link_to "Forgot your password?", new_password_reset_path %>
</div>
<% end %>