<!DOCTYPE html>
<html>
<head>
  <title><% if @title  %><%= @title %> - <% end %>MatchPuppy.com</title>
  <%= stylesheet_link_tag    :bootstrap %>
  <%= stylesheet_link_tag    "bootstrap-responsive" %>
  <%= stylesheet_link_tag    :sprites %>

  <%= stylesheet_link_tag    :matchpuppy %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="Welcome to MatchPuppy! A brand new place where you and your dog can connect and share with friends.">

	<script>
	$().ready(function() {
		$('a[rel="popover"]').popover();
	});
	
	
	</script>
  

</head>
<body>
	
	<header>
		<div class="container">
			<div class="row">
				<div class="span4">
					<a href="/"><img src="/assets/logo.png"></a>
				</div>
				<div class = "span6 menu-nav">
					<div >
							<A href  = "/dogs" class="btn info">
								Dogs
							</a>
						
							<A href = "/parks" class="btn info">
								Parks
							</a>
						
							<a href = "/playdates" class="btn info">
								Playdates
							</a>
						</div>
				</div>
				<div class = "span2 menu-nav" id="account-menu"  > 
					<% if current_user %>
					 <%= link_to "Profile", account_path, :class =>"btn" %> 
						<%= link_to "Logout", '/logout', :class=>"btn"%>
					<% else %>
						<a href = "/login" class="btn" >Login</a>
					<% end %>
				</div>

		</div>
	</header>
<div class="container main-container">

<%= yield %>
</div>

<footer class="footer">
        <div class="container">
        <p>&copy; 2012 Matchpuppy.com - <a href="#">Twitter</a> | <a href="#">Tumblr</a> | <a href="#">Privacy Policy</a></p>
	</div>
      </footer>

	<script type="text/javascript" charset="utf-8">
	  var is_ssl = ("https:" == document.location.protocol);
	  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
	  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript" charset="utf-8">
	  var feedback_widget_options = {};

	  feedback_widget_options.display = "overlay";  
	  feedback_widget_options.company = "matchpuppy";
	  feedback_widget_options.placement = "right";
	  feedback_widget_options.color = "#222";
	  feedback_widget_options.style = "idea";








	  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
</body>
</html>
