<!DOCTYPE html>
<html>
<head>
  <title>Matchpuppy</title>
  <%= stylesheet_link_tag    :bootstrap %>
  <%= stylesheet_link_tag    :matchpuppy %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="Welcome to MatchPuppy! A brand new place where you and your dog can connect and share with friends.">
  
</head>
<body>
	
	<header>
		<a href="/"><img src="/images/logo.png"></a>
		
		<div class="pull-right" style="margin-right:100px"> 
			<% if current_user %>
		Logged in as <%= link_to current_user.name, user_path(current_user) %>,
			<%= link_to "Logout", '/logout'%>
			
		| Park:	<%= current_user.park_id %>
			<% else %>
			<a href="/login">Login</a>
			
			<% end %>
		</div>
	</header>
<div class="container">

<%= yield %>
</div>
</body>
</html>
